html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratLight'),
  url(../fonts/MontserratLight.woff) format('woff2'),
  url(../fonts/MontserratLight.woff2) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
  url(../fonts/MontserratRegular.woff) format('woff2'),
  url(../fonts/MontserratRegular.woff2) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
  url(../fonts/MontserratMedium.woff) format('woff2'),
  url(../fonts/MontserratMedium.woff2) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
  url(../fonts/MontserratBold.woff) format('woff2'),
  url(../fonts/MontserratBold.woff2) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

/* glob */
.btn-resert {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-resert {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  /* min-width: 1920px; */
  padding-left: 75px;
  padding-right: 75px;
  margin: 0 auto;
  position: relative;
}

/* header */
.header {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  padding-top: 18px;
  padding-bottom: 14px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 224px;
  height: 72px;
  margin-right: 45px;
}

.header__list {
  margin-right: 85px;
  padding-top: 7px;
}

.header__item:not(:last-child) {
  margin-right: 84px;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;

  position: relative;
  transition-property: color, outline-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  outline: 2px solid transparent;
  outline-offset: 5px;

}

.header__nav-btn {
  padding-right: 0;
  background-color: inherit;
  border: none;
}

.header__nav-btn {
  position: relative;
  transition-property: color, outline-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

svg path{
  transition-property: fill;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header__search {
  display: none;
  align-items: center;

  padding: 16px;
  padding-left: 32px;
  padding-right: 14px;

  position: absolute;
  right: 0;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);

  z-index: 600;
}

.header__search-acive {
  display: block;
}

.search__input {
  width: 412px;
  margin-right: 14px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ADADAD;
  outline: none;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}

.search-btn {
  margin-right: 22px;
}

/* project */
.project {
  padding-bottom: 50px;
}

.project__container {
  min-height: 620px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  margin: 0 auto;
  position: relative;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  overflow: hidden;
  z-index: 0;
}

.swiper-wrapper {
  box-sizing: content-box;
}

.swiper-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet-active {
  background-color: #FFFFFF;
}

.slide-img {
  height: 100vh;
  width: 100%;
  object-fit: fill;
}

.project__header {
  width: 60%;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 1px;
  color: #FFFFFF;

  position: relative;
  z-index: 20;

}

.project__descr {
  width: 50%;
  margin-bottom: 89px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #FFFFFF;

  position: relative;
  z-index: 20;
}

.project__btn {
  padding:25px 36.88px ;
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.7px;
  background-color: #FF9900;
  color: #FFFFFF;

  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;

  position: relative;
  z-index: 20;
}



/* about */
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__heading {
  margin-bottom: 22px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.9px;
  color: #333333;
}

.about__descr {
  width: 70%;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.about__block1 {
  width: 49%;
  flex-direction: column;
  justify-content: end;
  margin-right: 33px;
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__block1-descr {
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 32%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about__descr-block {
  width: 60%;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about__btn {
  align-self: center;
  height: 60px;
  padding-left: 34px;
  padding-right: 35px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  border: 3px solid #FF9900;

  transition-property: color, background-color, border;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.about__block2 {
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
}

.about__kart1 {
  margin-bottom: 32px;
  padding-left: 34%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  background-image: url(../img/Frame\ 16.jpg);
  background-position: 8% 50%;
  background-size: 22%;
  background-repeat: no-repeat;
  outline: 1px solid #CACACA;
}

.about__kart2 {
  padding-left: 34%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
  background-image: url(../img/Frame\ 12.jpg);
  background-position: 8% 50%;
  background-size: 22%;
  background-repeat: no-repeat;
  outline: 1px solid #CACACA;
}

.about__kart-heading {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.about__kart-descr {
  width: 74%;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* work */
.work {
  padding-top: 50px;
  padding-bottom: 50px;
}

.work__heading {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #333333
}

.work__list {
  margin-bottom: 45px;
}

.work__item-btn {
  font-size: 18px;
  line-height: 22px;
  color: #333333;

  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work-active-btn {
  color: #E1670E;
}

.work__block {
  position: relative;

  display: none;
}

.work__block-active {
  display: block;
}

.work__block:before {
  content: "";
  position: absolute;
  width: 49%;
  bottom: 0;
  right: 0;
  top: 0;
}

.tab_l:before {
  background-image: url("../img/work_1.jpg");
}

.tab_2:before {
  background-image: url("../img/work_2.jpg");
}

.tab_3:before {
  background-image: url("../img/work_3.jpg");
}

.tab_4:before {
  background-image: url("../img/work_4.jpg");
}

.work__heading4 {
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.work__descr {
  width: 43%;
  padding-bottom: 49px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.work__btn1 {
  margin-right: 33px;
  width: 175px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FF9900;

  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.work__btn2 {
  width: 147px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  border: 1px solid #333333;

  transition-property: color, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

/* questions */
.questions {
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions__heading {
  margin-bottom: 39.5px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #333333
}

.questions__list {
  margin-bottom: -1px;
  position: relative;
}

.questions__btn {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  padding-top: 30.5px;
  padding-bottom: 30.5px;
  margin-bottom: -1px;
  position: relative;
  transition: border-color .3s ease-in-out;
}

.questions__btn__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;

  transition: color .2s ease-in-out;
}

.questions__btn svg ellipse {
  transition-property: fill, transform;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.questions__btn svg path {
  transition: fill .3s ease-in-out;
}

.questions__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility;
  transition-timing-function: ease;
}

.questions-active .questions__content{
  visibility: visible;
}

.questions__content-descr {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* footer */
.footer {
  background-color: #222222;
}

.footer__container {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__block1 {
  width: 33.95%;
}

.footer__block2 {
  width: 45.54%;
}

.footer__logo-img {
  padding-bottom: 21px;
}

.footer__item {
  flex-direction: column;
  margin-bottom: 90px;
}

.footer__elem {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 5px;
  color: #CACACA;
}

.footer__elem-link {
  transition-property: color, outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer__social-elem:not(:last-child) {
  margin-right: 25px;
}

.social-link {
  transition-property: outline;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer__block2-heading {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #CACACA;
}

.footer__form-text {
  width: 71%;
  min-height: 60px;
  margin-bottom: 25px;
  padding-left: 21px;
  border: none;
  background-color: #414141;
  color:#CACACA;

  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer__form-message {
  width: 71%;
  min-height: 150px;
  margin-bottom: 28px;
  padding-top: 20px;
  padding-left: 24px;
  border: none;
  color: #ffffff;
  background-color: #414141;

  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.footer__form-message::placeholder {
  color:#CACACA;
}

.footer__form-text::placeholder {
  color:#CACACA;
}

.footer__form-btn {
  margin-right: 21px;
  padding: 19px 52px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color:#FF9900;
}

label {
  color: #ECECEC;
}

.footer__check {
  padding-top: 20px;
  padding-left: 1.2em;
}

.footer__check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.footer__check-box {
  position: absolute;
  margin-left: -1.2em;
  width: 1.2em;
  height: 1.2em;
  background-image: url(../img/off.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__check-input:checked + .footer__check-box {
  background-image: url(../img/on.svg);
}

.footer__check-input:focus-visible ~ .footer__check-box {
  outline: 1px solid #FF9900;
}

.footer__block3 {
  width: 20.51%;
  padding-top: 85px;
}

.footer__block3-descr {
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

@media(min-width: 1200px) {
/* header */
  .header__burger {
    display: none;
  }

  .header__link:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 2px;
    background-color: #FF9900;
    opacity: 0;
    transform: scale(0);
    transition-property: opacity, transform, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
  }

  .header__link:focus-visible {
    outline-color:#FF9900;
  }

  .header__link:hover:not(:focus-visible):before {
    opacity: 1;
    transform: scale(1);
  }

  .header__nav-btn:focus-visible {
    outline-color:#FF9900;
  }

  .header__nav-btn:hover:not(:focus-visible) rect{
    fill: #FF9900;
  }

  .header__nav-btn:hover:not(:focus-visible) path{
    stroke: #FF9900;
  }

  .header__link:active:not(:focus-visible) {
    color: #E1670E;
  }

  .header__link:active:not(:focus-visible):before {
    background-color: #E1670E;
  }

  /* project */
  .project__btn:focus-visible {
    outline: none;
    background-color: rgba(255, 153, 0, 0.7);
  }

  .project__btn:hover {
    background-color: rgba(255, 153, 0, 0.7);
  }

  .project__btn:active {
    background-color: #E1670E;
  }

  /* about */
  .about__btn:focus-visible {
    outline: none;
    color: #FFFFFF;
    background-color: #FF9900;
  }

  .about__btn:hover:not(:focus-visible) {
    outline: none;
    color: #FFFFFF;
    background-color: #FF9900;
    border: 3px solid #FF9900;
  }

  .about__btn:active:not(:focus-visible) {
    outline: none;
    color: #FFFFFF;
    background-color: #E1670E;
    border: 3px solid #E1670E;
  }

  /* work */
  .work__item-btn:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
  }

  .work__item-btn:hover:not(:focus-visible) {
    color: #FF9900;
    cursor: pointer;
  }

  .work__item-btn:active:not(:focus-visible) {
    color: #E1670E;
    cursor: pointer;
  }

  .work__btn1:focus-visible {
    outline: none;
    background-color: #F7B045;
  }

  .work__btn1:hover {
    background-color: #F7B045;
  }

  .work__btn1:active:not(:focus-visible) {
    background-color: #E1670E;
  }

  .work__btn2:focus-visible {
    outline: none;
    color: #FFFFFF;
    background-color: #666666;
  }

  .work__btn2:hover {
    color: #FFFFFF;
    background-color: #666666;
  }

  .work__btn2:active:not(:focus-visible) {
    color: #FFFFFF;
    background-color: #000000;
  }

  /* question */
  .questions__btn:focus-visible {
  outline: none;
  border-color: #FF9900;
  z-index: 1;
  }

  .questions__btn:focus-visible .questions__btn__text {
    color: #FF9900;
  }

  .questions__btn:focus-visible svg ellipse {
    fill: #FF9900;
  }

  .questions__btn:focus-visible svg path {
    fill: #f5f5f5;
  }

  .questions__btn:focus-visible .faq__btn__text {
    color: #FF9900;
  }

  .questions__btn:hover {
    border-color: #FF9900;
    z-index: 1;
  }

  .questions__btn:hover .questions__btn__text {
    color: #FF9900;
  }

  .questions__btn:hover svg ellipse {
    fill: #FF9900;
  }

  .questions__btn:hover .faq__btn__text {
    color: #FF9900;
  }

  .questions__btn:hover svg path {
    fill: #f5f5f5;
  }

  .questions__btn:active {
    border-color: #CACACA;
    z-index: 1;
  }

  .questions__btn:active .questions__btn__text {
    color: #333333;
  }

  .questions__btn:active svg {
    transform: rotate(45deg);
  }

  .questions__btn:active svg ellipse {
    fill: #ECECEC;
  }

  .questions__btn:active svg path {
    fill: #666666;
  }

  /* footer */
  .footer__elem-link:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
  }

  .footer__elem-link:hover:not(:focus-visible) {
    color: #FF9900;
  }

  .footer__elem-link:active:not(:focus-visible) {
    color: #E1670E;
  }

  .social-link:focus-visible {
    outline: 2px solid #FF9900;
    outline-offset: 5px;
  }

  .social-link:hover:not(:focus-visible) svg path{
    fill: #FF9900;
  }

  .social-link:active:not(:focus-visible) svg path{
    fill: #E1670E;
  }

  .footer__form-text:focus-visible {
    outline: none;
    background-color: #666666;
  }

  .footer__form-text:hover:not(:focus-visible) {
    background-color: #666666;
    cursor: pointer;
  }

  .footer__form-message:focus-visible {
    outline: none;
    background-color: #666666;
  }

  .footer__form-message:hover:not(:focus-visible) {
    background-color: #666666;
    cursor: pointer;
  }

  .footer__check-input:focus + .footer__check-box {
    background-image: url(../img/off.svg);
  }

  .footer__check-input:checked:focus + .footer__check-box {
    background-image: url(../img/on.svg);
  }
}

@media(max-width: 1199px) {
  /* burger*/
  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 41%;
    min-width: 320px;
    height: 773px;
    z-index: 100;
    padding: 50px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav .header__list {
    display: block;
    flex-direction: column;
    padding-top: 125px;
  }

  .header__nav .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 65px;
  }

  .header__nav .header__link {
    font-size: 24px;
  }

  .header__nav-active {
    visibility: visible;
    transform: none;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header__burger {
  width: 30px;
  height: 20px;
  margin-right: 13%;
  padding: 0;
  padding-top: 5px;
  background-color: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  z-index: 500;
}

.header__burger-line {
  width: 100%;
  height: 3px;
  right: 0;
  top: 50%;
  background-color: #333333;
  transform: translateY(-50%);
  position: absolute;
}

.header__burger:before, .header__burger:after {
  content: "";
  height: 3px;
  right: 0;
  width: 100%;
  background-color: #333333;
  position: absolute;

  transition: transform 0.3s ease-in-out;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.burger-active .header__burger-line {
  opacity: 0;
}

.burger-active:before {
  top: 50%;
  transform: rotate(45deg);
  transform-origin: center;
  transform: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.burger-active:after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  transform: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__logo-img {
    width: 66%;
    padding-top: 15px;
  }

  .header__nav-btn {
    padding-top: 5px;
  }

  .project {
    padding-bottom: 40px;
  }

  .project__container {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .project__header {
    width: 100%;
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .project__descr {
    width: 80%;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about__heading {
    margin-bottom: 10px;
  }

  .about__descr {
    width: 100%;
    margin-bottom: 57px;
  }

  .about__info {
    flex-direction: column;
  }

  .about__block1 {
    width: 100%;
    min-height: 640px;
    margin-bottom: 32px;
  }

  .about__block2 {
    width: 100%;
  }

  .about__descr-block {
    width: 55%;
  }

  .about__kart1 {
    padding-bottom: 7%;
    background-position: 10% 50%;
    background-size: 21%;
  }

  .about__kart2 {
    padding-top: 7%;
    padding-bottom: 7%;
    background-position: 10% 50%;
    background-size: 21%;
  }

  .work {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .work__list {
    margin-bottom: 50px;
  }

  .work__block:before {
    width: 47%;
  }

  .work__descr {
    width: 47.2%;
    padding-bottom: 25px;
  }

  .questions {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .questions__heading {
    margin-bottom: 31px;
  }

  .questions__btn__text {
    width: 82%;
    text-align: start;
    font-size: 20px;
    line-height: 32px;
  }

  .footer__block3 {
    display: none;
  }

  .footer__logo-img {
    padding-bottom: 17px;
  }

  .footer__block1 {
    width: 41.34%;
  }

  .footer__block2 {
    width: 58.65%;
  }

  .footer__form-text {
    width: 100%;
  }

  .footer__form-message {
    width: 100%;
  }

  .footer__form-btn {
    padding: 19px 37px;
  }
}

@media(max-width: 992px) {
  .header__container {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .header__burger {
    margin-right: 18%;
  }

  .project__container {
    min-height: 662px;
    padding-top: 160px;
    padding-left: 40px;
    padding-right: 30px;
  }

  .project__header {
    width: 100%;
    font-size: 50px;
    line-height: 61px;
  }

  .project__descr {
    width: 95%;
    font-size: 18px;
    line-height: 22px;
  }
  .about__heading {
    margin-bottom: 10px;
  }

  .about__block1 {
    min-height: 650px;
  }

  .about__block1-descr {
    padding: 32px 40px;
  }

  .about__descr-block {
    width: 65%;
  }

  .about__kart1 {
    padding-left: 25.5%;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    background-position: 7% 50%;
    background-size: 17%;
  }

  .about__kart2 {
    padding-left: 25.5%;
    padding-top: 5.5%;
    padding-bottom: 5%;
    background-position: 7% 48%;
    background-size: 17%;
  }

  .about__kart-descr {
    width: 85%;
  }

  .questions__btn__text {
    min-width: 570px;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
  }

  .work__list {
    justify-content: space-between;
  }

  .work__block {
    padding-top: 320px;
  }

  .work__block:before {
    width: 100%;
    height: 35%;
  }

  .work__descr {
    width: 100%;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__item {
    display: none;
  }

  .footer__block1 {
    padding-top: 50px;
  }

  .footer__block2 {
    width: 81%;
  }
}

@media (max-width:768px) {
  .header__nav {
    width: 55%;
    height: 745px;
  }

  .header__nav .header__list {
    padding-top: 115px;
  }
}

@media (min-width:577px) and (max-width:767px) {
  .project__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .project__header {
    font-size: 35px;
    line-height: 45px;
  }

  .work__heading {
    font-size: 30px;
  }

  .work__block:before {
    width: 100%;
    height: 30vh;
  }

  .questions__btn__text {
    min-width: 300px;
  }

  .footer__block2 {
    width: 90%;
  }
}

@media(min-width:321px) and (max-width: 576px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__logo {
    margin-right: 10px;
  }

  .header__search {
    padding-left: 15px;
  }

  .search__input {
    width: 60%;
    font-size: 14px;
  }

  /* burger */
  .header__nav {
    height: 400px;
    padding: 20px;
  }

  .header__nav .header__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .header__nav .header__list  {
    padding-top: 65px;
  }

  .header__nav .header__link {
    font-size: 16px;
  }

  .project {
    padding-bottom: 30px;
  }

  .project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 308px;
    padding-top: 100px;
    padding-left: 22px;
    padding-bottom: 60px;
  }

  .project__header {
    text-align: center;
    margin-bottom: 6px;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .project__descr {
    width: 100%;
    margin-bottom: 32px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
  }

  .project__btn {
    padding:13px 22px ;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about__heading {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
  }

  .about__descr {
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__block1 {
    width: 100%;
    min-height: auto;
    padding-top: 75%;
    margin-right: 0;
    background-size:100%;
    background-position: top;
  }

  .about__block1-descr {
    padding: 0;
    padding-top: 8px;
    min-height: auto;
    background: rgba(0, 0, 0, 0);
  }

  .about__descr-block {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }

  .about__btn {
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
  }

  .work__heading {
    font-size: 32px;
    line-height: 39px;
  }

  .work__item {
    font-size: 16px;
    line-height: 18px;
  }

  .work__item:not(:last-child) {
    margin-right: 25px;
  }

  .work__block:before {
    width: 100%;
    height: 30vh;
  }

  .questions__heading {
    font-size: 36px;
    line-height: 40px;
  }

  .questions__btn__text {
    min-width: 260px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .footer__form-check {
    flex-direction: column;
  }

  .footer__block2 {
    width: 100%;
  }
}

@media(max-width:320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__container {
    padding-top: 0;
  }

  .header__burger {
    margin-right: 60px;
  }

  .header__logo {
    padding-top: 10px;
    margin-right: 0;
  }

  .header__logo-img {
    padding-top: 10px;
  }

  .search__input {
    width: 60%;
    font-size: 12px;
  }

  /* burger */
  .header__nav {
    height: 380px;
    padding: 15px;
  }

  .header__nav .header__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .header__nav .header__list  {
    padding-top: 65px;
  }

  .header__nav .header__link {
    font-size: 16px;
  }

  .project {
    padding-bottom: 30px;
  }

  .project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 308px;
    padding-top: 60px;
    padding-left: 22px;
    padding-bottom: 60px;
  }

  .project__header {
    text-align: center;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .project__descr {
    width: 100%;
    margin-bottom: 32px;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
  }

  .project__btn {
    padding:13px 22px ;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
  }

  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about__heading {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
  }

  .about__descr {
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__block1 {
    width: 100%;
    min-height: auto;
    padding-top: 73%;
    margin-right: 0;
    background-size:100%;
    background-position: top;
  }

  .about__block1-descr {
    padding: 0;
    padding-top: 8px;
    background: rgba(0, 0, 0, 0);
  }

  .about__descr-block {
    width: 100%;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }

  .about__btn {
    height: 40px;
    padding-left: 38px;
    padding-right: 38px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FF9900;
  }

  .about__kart1 {
    margin-bottom: 11px;
    padding-left: 0;
    padding-top: 22%;
    background-image: url(../img/about\ 320.svg);
    background-position: 0 0;
    background-size: 23%;
    outline: none;
  }

  .about__kart-heading {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about__kart-descr {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about__kart2 {
    padding-left: 0;
    padding-top: 22%;
    background-image: url(../img/about\ 320-2.svg);
    background-position: 0 0;
    background-size: 23%;
    outline: none;
  }

  .work {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .work__heading {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 29px;
  }

  .work__list {
    margin-bottom: 16px;
  }

  .work__item {
    font-size: 14px;
    line-height: 17px;
  }

  .work__item:not(:last-child) {
    margin-right: 44px;
  }

  .work__block {
    padding-top: 176px;
  }

  .work__block:before {
    width: 100%;
    height: 18vh;
  }

  .work__heading4 {
    font-weight: 500;
    font-size: 18px;
  }

  .work__descr {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .work__btn1 {
    margin-right: 10px;
    min-width: 56%;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .work__btn2 {
    min-width: 41%;
    height: 40px;
    font-size: 12px;
    line-height: 15px;
  }

  .questions {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .questions__heading {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .questions__btn {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .questions__btn__text {
    min-width: 257px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .footer__container {
    padding-top: 30px;
    padding-bottom: 32px;
  }

  .footer__block2-heading {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__block1 {
    padding-top: 20px;
  }

  .footer__block2 {
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 1px solid #595959;
  }

  .footer__form-check {
    flex-direction: column;
  }

  input, textarea{
    font-size: 90%;
  }

  .footer__form-message {
    margin-bottom: 20px;
  }

  .footer__form-btn {
    width: 180px;
    margin-right: 0;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__btn {
    justify-content: center;
  }

  .footer__logo-img {
    margin-left: 80px;
  }

  .footer__social {
    margin-left: 70px;
  }

  .footer__social-elem:not(:last-child) {
    margin-right: 16px;
  }

  .social-link svg {
    width: 40px;
    height: 40px;
  }
}
